@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@200;400&family=Roboto:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap"); */

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #f7f6f5;
}

.fitscreen {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.active {
  border-bottom-width: 2px;
  color: rgb(235 138 40);
}

.roboto {
  font-family: "Rubik Bubbles";
}

/* TEXT TYPE WRITER CSS   */
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.typewriter {
  white-space: nowrap;
}

@media (min-width: 390px) {
  .typewriter {
    font-size: 22px;
  }
  .smallerh1 {
    font-size: 28px;
  }
  .smallerwork {
    font-size: 22px;
  }
  .smallerwidth {
    width: 75%;
  }
}

/* SCROL BAR  */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8892b0;
}

/* END OF SCROL BAR  */

/* END .... TEXT TYPE WRITER CSS   */

/* PROJECT CARD HOVER EFFECT  */

.project1:hover .carder {
  display: flex;
}

/* MOBILE RESPONSIVE NES */

@media (max-width: 420px) {
  .mobile {
    gap: 1rem;
    font-size: 0.8rem /* 18px */;
    margin-left: 2.4rem /* 96px */;
    margin-right: 3rem /* 96px */;
  }
  .mobileh1 {
    font-size: 0.8em;
  }
  .mobiletitle {
    font-size: 1.5em;
  }
}

@media (max-width: 400px) {
  .minimobile {
    margin-left: 2rem /* 96px */;
    margin-right: 2rem /* 96px */;
  }
  .mobilepjttitle {
    margin-top: 0.5rem /* 12px */;
    margin-bottom: 0.5rem /* 12px */;
    margin-left: 2rem /* 64px */;
    font-size: 1em;
    max-width: 20em;
  }
  .mpj {
    margin-left: 0;
    margin-right: 0;
  }
}

/* 

  LOADING SPINNER 



  */

.loadingbody {
  margin: 0px;
  background: radial-gradient(#cecece, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(220, 220, 220) 40%,
    rgb(170, 170, 170) 98%,
    rgb(10, 10, 10) 100%
  );
  position: relative;
}
.loader {
}

.loader:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-bottom: 0 solid #ffffff05;

  box-shadow: 0 -10px 20px 20px #ffffff40 inset,
    0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
    0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
    0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
  filter: blur(3px);
  animation: 2s rotate linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
